body {
  background-color: lightyellow;
  border-style: outset;
  border-width: 6px;
  padding: 15px;
  font-family:Arial;

}
h1{
  font-family:Trebuchet MS;
  color:purple;
  font-size: 250%;
}

p1 {
  text-align: center;
  color: blue;
  font-family: "sans-serif", sans-serif;
  font-size: 170%;
}
p5{
  font-family:Trebuchet MS;
  font-weight:bold;
}
li1{
  color: blue;
  font-size: 150%;
  font-weight:bold;
  font-family:Trebuchet MS;
}
h{
  text-align: center;
  color: white;
  background: purple;
  font-family: "sans-serif", sans-serif;
  font-size: 300%;
}

nav ul {
  background-color: lightblue;
  border-style: solid;
  border-color: darkblue;
  border-width: 2px;
  padding: 15px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}
nav ul li a {
  text-decoration: none;
  color: darkblue;
}
img {
  border-radius: 30px;
}





















/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 4px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: darkblue;
}
td {
  color: blue;
}
/********************************/